<script type="text/javascript">
  $(function(){
    $("button#btn").click(function() {
        var tr_form = '' +
          '<tr>'+
          '<td ><input type="text" class="task"/></td>' +
          '<td><input type="text" class="name"/></td>' +
          '</tr>';
      $(tr_form).appendTo($('table > tbody'));
      var i = 1;
      $ ('.task').each(function(){
        $(this).addClass('text'+ i );
        i++;
      });
    });
  });
</script>
<form action="data.php" method="post" enctype="multipart/form-data">
<table>
  <tbody>
    <tr>
      <td><input type="text" class="num"></td>
      <td><input type="text" name="text_2[]"></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td ><button id="btn" type="button">追加</button></td>
    </tr>
  </tfoot>
</table>
</form>
