<footer>
  <div class="flex">
    <ul>
      <li class="none"><%= link_to '利用規約', '#', class:"footer_link" %></li>
      <li class="none">|</li>
      <li class="none"><%= link_to 'プライバシーポリシー', '#', class:"footer_link" %></li>
      <li class="none">|</li>
      <li class="none"><%= link_to 'お問い合わせ', '#', class:"footer_link" %></li>
      <li class="none">|</li>
      <li>©︎分担ルーレット2022</li>
    </ul>
  </div>
</footer>
