<footer>
  <div class="footer-container">
    <ul>
      <li><%= link_to '利用規約', '#', class:"footer_link" %></li>
      <li><%= link_to 'プライバシーポリシー', '#', class:"footer_link" %></li>
      <li><%= link_to 'お問い合わせ', '#', class:"footer_link" %></li>
    </ul>
    <div class="copywrite">©︎分担ルーレット2022</div>
  </div>
</footer>
