<footer>
  <div class="copywrite">©︎分担ルーレット2022</div>
  <nav class="footer-container">
    <li><%= link_to '利用規約', page_path('terms_of_service'), class:"footer_link" %></li>
    <li><%= link_to 'プライバシーポリシー', page_path('privacy_policy'), class:"footer_link" %></li>
    <li><%= link_to 'お問い合わせ', new_contact_path, class:"footer_link" %></li>
  </nav>
</footer>
