<div class="roulettebutton">
  <div class="three_buttons">
    <%= button_to "ストップ", "#", {method: :get, id: "stop", class: "myButton"} %>
    <%= button_to "スタート", "#", {method: :get, id: "start", class: "myButton"} %>
  </div>
</div>
