<div id="app">
  <ul>
    <li v-for="user in tasks">{{ user.name }}</li>
  </ul>
    <ul>
    <li v-for="user in tasks">{{ user.task }}</li>
  </ul>
</div>
<script>
  new Vue({
    el: "#app",
    data() {
        return {
            tasks: [],
        }
    },
    mounted(){
        axios.get('http://localhost:3000/api/tasks/show.json')
        .then(response => this.tasks = response.data)
        .catch(error => console.log(error))
      },
  })
</script>
