<div class="wrapper">
  <div class= guide_contents>
    <ul>
      <li>使い方</li>
      <li>分担したいときに使用するルーレットです</li>
      <li><%= button_to "ルーレットを回す", new_page_path, {method: :get, class: "myButton"} %></li>
    </ul>
  </div>
</div>
