<div class="wrapper">
  <div class= guide_contents>
    <ul class="guide_ul">
      <li class="guide_li"><h2>＜使い方＞<h2></li>
      <li class="guide_li"><h3>複数人でタスクを分担したいときに、組み合わせを自動的に決めることができるルーレットです</h3></li>
      <li class="guide_li"><h5>フォームの上から４つまでにタスクを記入すると外円の赤い部分に反映され、フォームの下から４つまでに名前を記入すると中円の部分に反映されます</h5></li>
      <li class="guide_li"><h5>「完了」ボタンを押してフォームの内容を反映させたあと、スタートボタンを押すとルーレットが回転しストップボタンで停止します</h5></li>
      <li class="guide_li"><%= button_to "ルーレットを回す", new_page_path, {method: :get, class: "myButton"} %></li>
      <%= image_tag 'howto.jpg',:size => '500x250' %>
    </ul>
  </div>
</div>
