<div class= top_contents>
  <ul class="topul">
    <li class="toplist">分担ルーレット</li>
    <li class="toplist"><%= button_to "早速回す", choice_new_path, {method: :get, class: "btn_top"} %></li>
    <li class="toplist"><%= button_to "使い方", pages_guide_path, {method: :get, class: "btn_top"} %></li>
  </ul>
</div>
