<div class= top_contents>
<p class="text-red">分担ルーレット</p>
<%= button_to "早速回す", pages_choice_path, {method: :get, class: "myButton"} %>
<%= button_to "使い方", pages_guide_path, {method: :get, class: "myButton"} %>
</div>
