<div class= top_contents>
  <ul>
    <li class="text-red">分担ルーレット</li>
    <li><%= button_to "早速回す", pages_choice_path, {method: :get, class: "btn_top"} %></li>
    <li><%= button_to "使い方", pages_guide_path, {method: :get, class: "btn_top"} %></li>
    </ul>
</div>
