<div class= top_contents>
  <ul class="topul">
    <li class="toplist">分担ルーレット~BBQver.~</li>
    <li class="toplist"><%= button_to "早速回す", new_page_path, {method: :get, class: "myButton",id:"btn_top"} %></li>
    <li class="toplist"><%= button_to "使い方", pages_guide_path, {method: :get, class:"myButton", id:"btn_top"} %></li>
  </ul>
</div>
