<div class=line_push>
<li class="push_li">LINEに分担表を送信しました。確認してください。</li>
<li class="push_li">届いていない場合は「友達追加登録」を確認してください</li>
<li class="push_li">
  <%= link_to :back do %>
    <button class="myButton">ToDoリストに戻る</button>
  <% end %>
</li>
<div class=push_image>
  <%= image_tag'push.jpg', class: "pushsize"%>
</div>
</div>
