* {
  box-sizing: border-box;
}

footer {
    position: fixed;
    bottom: 0;
    background-image: image-url("bbq10.jpg");
    background-size: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    z-index: 10;
    height: 78px;
    padding: 0px 15px;
}

.footer-container{
  display: flex;
  justify-content: center;
}

footer ul {
    position: fixed;
    color:rgba(10, 10, 10, 0.5);
    list-style: none;
    bottom:4px;
}

footer li {
    box-sizing: border-box;
    display: inline-block;
    font-size: 13px;
    min-width: 100px;
    margin: 0px 10px;
  }

.footer_link {
    text-decoration: none;
    color:rgba(0, 0, 0, 0.5);
}

.copywrite{
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .footer-container{
    font-size: 3px;
  }
  .footer_link{
    color:rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
  }
  footer{
    height: 65px;
  }
}
