footer {
    position: absolute;
    bottom: 0;
    background-image: image-url("top.jpg");
    background-size: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    z-index: 999;
    height: 78px;
}

.flex{
    display: flex;
    justify-content: center;
}

footer ul {
    position: fixed;
    color:rgba(10, 10, 10, 0.5);
    list-style: none;
    bottom: 8px;
    padding: 0;
    margin-right: 0;
}


footer li {
    display: inline;
    font-size: 13px;
    min-width: 200px;
    margin: 0px 10px;
}


.footer_link {
    text-decoration: none;
    color:rgba(0, 0, 0, 0.5);
}
