@media screen and (min-width: 1366px) {
  .guide_contents {
    display: flex;
    justify-content: center;
  }

  guide ul {
    display: inline;
    list-style-type: none;
    padding: 0;
    text-align: center;
  }

  guide li {
    margin: 50px;
  }
}
