@media screen and (min-width: 1024px) {
  .roulettewrapper {
    position: relative;
    top: 270px;
    left: 600px;
  }
  .top_roulettes{
    transform: rotate(0);
    position: absolute;
    top: 40px;
    left: 10px;
  }
  .foundation_roulettes {
    position: absolute;
    top: 20px;
    left: 10px;
  }
  .foundation_quarter {
    position: absolute;
    height: 220px;
    width: 220px;
  }
  .roulettewrapper_top {
    position: absolute;
    top: 328px;
    left: 607px;
  }
  .top_quarter {
    position: absolute;
    height: 125px;
    width: 125px;
  }
  .btn_todo{
    position: absolute;
    top: 360px;
    left: 20px;
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color:#79bbff;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #438ed9;
    &:hover {
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    background-color:#378de5;
  }
  }
}

.stop {
  animation-play-state: paused;
}
#f_quarter_1 {
  bottom: 0px;
  left: 0px;
  background-color: #ffe7e7;
  border-radius: 0 100% 0 0;
  border: 2px solid #000000 ;
}
#f_quarter_2 {
  top: 0px;
  left: 0px;
  background-color: #ffe7e7;
  border-radius: 0 0 100% 0;
  border: 2px solid #000000 ;
}
#f_quarter_3 {
  top: 0px;
  right: 0px;
  background-color: #ffe7e7;
  border-radius: 0 0 0 100%;
  border: 2px solid #000000 ;
}
#f_quarter_4 {
  bottom: 0px;
  right: 0px;
  background-color: #ffe7e7;
  border-radius: 100% 0 0 0;
  border: 2px solid #000000 ;
}
#t_quarter_1 {
  bottom: 0px;
  left: 0px;
  background-color: #b2f1ac;
  border-radius: 100% 0 0 0;
  border: 2px solid #000000 ;
  transform: scale(-1, 1);
}
#t_quarter_2 {
  top: 0px;
  left: 0px;
  background-color: #fffd95;
  border-radius: 100% 0 0 0;
  border: 2px solid #000000 ;
  transform: scale(-1, -1);
}
#t_quarter_3 {
  top: 0px;
  right: 0px;
  background-color: #8497e9;
  border-radius: 100% 0 0 0;
  border: 2px solid #000000 ;
  transform: scale(1, -1);
}
#t_quarter_4 {
  bottom: 0px;
  right: 0px;
  background-color: #84dae9;
  border-radius: 100% 0 0 0;
  border: 2px solid #000000 ;
}

.todoform{
  position: relative;
  top: 100px;
  left: 900px;
}

.background_color_t2{
  position: absolute;
  top: 340px;
  left: 900px;
  width: 200px;
  height: 30px;
  background-color: #fffd95;
  border-radius: 10px;
  border: 2px solid #000000 ;
}
.background_color_t3{
  position: absolute;
  top: 370px;
  left: 900px;
  width: 200px;
  height: 30px;
  background-color: #8497e9;
  border-radius: 10px;
  border: 2px solid #000000 ;
}
.background_color_t4{
  position: absolute;
  top: 400px;
  left: 900px;
  width: 200px;
  height: 30px;
  background-color: #84dae9;
  border-radius: 10px;
  border: 2px solid #000000 ;
}
.taskform1{
  input[type="text"]{
    width: 200px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    border: 4px outset #e7a8a8;
    border-radius: 5px 5px 5px 5px;
  }
  ::placeholder{
    padding: 5px 5px;
    color: #515353;
  }
}

.nameform1{
  input[type="text"]{
    width: 200px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    border: 4px outset #85d67e;
    border-radius: 5px 5px 5px 5px;
  }
  ::placeholder{
    padding: 5px 5px;
    color: #515353;
  }
}
.nameform2{
  input[type="text"]{
    width: 200px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    border: 4px outset #e9e625;
    border-radius: 5px 5px 5px 5px;
  }
  ::placeholder{
    padding: 5px 5px;
    color: #515353;
  }
}
.nameform3{
  input[type="text"]{
    width: 200px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    border: 4px outset #8497e9;
    border-radius: 5px 5px 5px 5px;
  }
  ::placeholder{
    padding: 5px 5px;
    color: #515353;
  }
}

.nameform4{
  input[type="text"]{
    width: 200px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    border: 4px outset #84dae9;
  }
  ::placeholder{
    padding: 5px 5px;
    color: #515353;
  }
}
