@media screen and (min-width: 1024px) {
  .roulettewrapper {
    position: relative;
    top: 270px;
    left: 600px;
  }
  .circle{
    background-color: #cf0909;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    transform: rotate(0);
    position: absolute;
    top: 243px;
    left: 493px;
  }
  .foundation_roulettes{
    position: absolute;
    top: 20px;
    left: 10px;
  }
  .foundation_quarter {
    position: absolute;
    height: 220px;
    width: 220px;
  }
  .roulettewrapper_top {
    position: relative;
    top: 270px;
    left: 600px;
  }
  .top_roulettes{
    position: absolute;
    top: 20px;
    left: 10px;
  }
  .top_quarter {
    position: absolute;
    height: 125px;
    width: 125px;
  }
}

.rotate {
  animation: rotate-anime 0.4s linear infinite;
}
@keyframes rotate-anime {
  0%  {transform: rotate(0);}
  100%  {transform: rotate(360deg);}
}
.stop {
  animation-play-state: paused;
}
#f_quarter_1 {
  bottom: 0px;
  left: 0px;
  background-color: #efefef;
  border-radius: 0 100% 0 0;
  border: 2px solid #000000 ;
}
#f_quarter_2 {
  top: 0px;
  left: 0px;
  background-color: #efefef;
  border-radius: 0 0 100% 0;
  border: 2px solid #000000 ;
}
#f_quarter_3 {
  top: 0px;
  right: 0px;
  background-color: #efefef;
  border-radius: 0 0 0 100%;
  border: 2px solid #000000 ;
}
#f_quarter_4 {
  bottom: 0px;
  right: 0px;
  background-color: #efefef;
  border-radius: 100% 0 0 0;
  border: 2px solid #000000 ;
}
#t_quarter_1 {
  bottom: 0px;
  left: 0px;
  background-color: #ffcca2;
  border-radius: 100% 0 0 0;
  border: 2px solid #000000 ;
  transform: scale(-1, 1);
}
#t_quarter_2 {
  top: 0px;
  left: 0px;
  background-color: #b2f1ac;
  border-radius: 100% 0 0 0;
  border: 2px solid #000000 ;
  transform: scale(-1, -1);
}
#t_quarter_3 {
  top: 0px;
  right: 0px;
  background-color: #fdaabf;
  border-radius: 100% 0 0 0;
  border: 2px solid #000000 ;
  transform: scale(1, -1);
}
#t_quarter_4 {
  bottom: 0px;
  right: 0px;
  background-color: #84dae9;
  border-radius: 100% 0 0 0;
  border: 2px solid #000000 ;
}

.label1 {
  transform: rotate(45deg);
}
.label2 {
  transform: rotate(135deg);
}
.label3 {
  transform: rotate(225deg);
}
.label4 {
  transform: rotate(315deg);
}
.todolist_button{
  position: relative;
  top: 320px;
}
#btn_todo{
  position: absolute;
  right: 180px;
}
