@media screen and (min-width: 1366px) {
  .roulettewrapper{
    position: relative;
    top: 46px;
    left: 376px;
  }
  .foundation_roulette{
    position: absolute;
    top: 20px;
    left: 10px;
    width: 445px;
    height: 445px;
    background-color: #ffe7e7;
    border-radius: 50%;
    border: 2px solid #000000 ;
  }
  .fourstripe1{
    position: absolute;
    top: 222px;
    width: 446px;
    height: 4px;
    background-color: #000000;
    transform: rotate(0deg);
  }
  .fourstripe2{
    position: absolute;
    top: 222px;
    width: 446px;
    height: 4px;
    background-color: #000000;
    transform: rotate(90deg);
  }
  .roulettewrapper_top{
    position: absolute;
    top: 238px;
    left: 488px;
  }
  .top_roulettes4{
    transform: rotate(0);
    height: 255px;
    width: 255px;
    background-image: conic-gradient(#b2f1ac 0% 25%,#fffd95 25% 50%,#8497e9 50% 75%,#84dae9 75% 100%);
    border-radius: 50%;
    border: 2px solid #000000 ;
  }
  .fourstripe3{
    position: absolute;
    top: 127px;
    width: 258px;
    height: 2px;
    background-color: #000000;
    transform: rotate(0deg);
  }
  .fourstripe4{
    position: absolute;
    top: 126px;
    width: 258px;
    height: 2px;
    background-color: #000000;
    transform: rotate(90deg);
  }
  .form1{
    position: absolute;
    top: 80px;
    left: 100px;
    transform: rotate(45deg)
  }
  .form2{
    position: absolute;
    top: 80px;
    left: 100px;
    transform: rotate(135deg)
  }
  .form3{
    position: absolute;
    top: 90px;
    left: 60px;
    transform: rotate(225deg)
  }
  .form4{
    position: absolute;
    top: 70px;
    left: 60px;
    transform: rotate(315deg)
  }
  .form5{
    position: absolute;
    top: 15px;
    left: 30px;
    transform: rotate(45deg);
  }
  .form6{
    position: absolute;
    top: 40px;
    left: 30px;
    transform: rotate(135deg);
  }
  .form7{
    position: absolute;
    top: 20px;
    left: 30px;
    transform: rotate(225deg);
  }
  .form8{
    position: absolute;
    top: 30px;
    left: 30px;
    transform: rotate(315deg);
  }
}
