@media screen and (min-width: 1366px) {
  .eightstripe1{
    position: absolute;
    top: 222px;
    width: 446px;
    height: 4px;
    background-color: #000000;
    transform: rotate(45deg);
  }
  .eightstripe2{
    position: absolute;
    top: 220px;
    width: 446px;
    height: 4px;
    background-color: #000000;
    transform: rotate(90deg);
  }
  .eightstripe3{
    position: absolute;
    top: 222px;
    width: 446px;
    height: 4px;
    background-color: #000000;
    transform: rotate(135deg);
  }
  .eightstripe4{
    position: absolute;
    top: 222px;
    width: 446px;
    height: 4px;
    background-color: #000000;
    transform: rotate(180deg);
  }
  .top_roulettes8{
    transform: rotate(0);
    height: 255px;
    width: 255px;
    background-image: conic-gradient(#d5525f 0% 12.5%, #d9d9d9 12.5% 25%,#d552ce 25% 37.5%,#a88488 37.5% 50%,#527bd5 50% 62.5%,#9e7e9c 62.5% 75%,#52d5a3 75% 87.5%,#6f80a3 87.5% 100%);
    border-radius: 50%;
    border: 2px solid #000000 ;
  }
  .eightstripe5{
    position: absolute;
    top: 126px;
    width: 256px;
    height: 4px;
    background-color: #000000;
    transform: rotate(45deg);
  }
  .eightstripe6{
    position: absolute;
    top: 126px;
    left: 1px;
    width: 256px;
    height: 4px;
    background-color: #000000;
    transform: rotate(90deg);
  }
  .eightstripe7{
    position: absolute;
    top: 127px;
    left: 1px;
    width: 256px;
    height: 4px;
    background-color: #000000;
    transform: rotate(135deg);
  }
  .eightstripe8{
    position: absolute;
    top: 127px;
    width: 256px;
    height: 4px;
    background-color: #000000;
    transform: rotate(180deg);
  }
}
