@media screen and (min-width: 1366px) {
  .tenstripe_f1{
    position: absolute;
    top: 220px;
    width: 442px;
    height: 4px;
    background-color: #000000;
    transform: rotate(54deg);
  }
  .tenstripe_f2{
    position: absolute;
    top: 220px;
    width: 442px;
    height: 4px;
    background-color: #000000;
    transform: rotate(90deg);
  }
  .tenstripe_f3{
    position: absolute;
    top: 220px;
    width: 442px;
    height: 4px;
    background-color: #000000;
    transform: rotate(125deg);
  }
  .tenstripe_f4{
    position: absolute;
    top: 220px;
    width: 442px;
    height: 4px;
    background-color: #000000;
    transform: rotate(162deg);
  }
  .tenstripe_f5{
    position: absolute;
    top: 220px;
    width: 442px;
    height: 4px;
    background-color: #000000;
    transform: rotate(197deg);
  }

  .top_roulettes10{
    transform: rotate(0);
    height: 255px;
    width: 255px;
    background-image: conic-gradient(#b2f1ac 0% 10%, #fffd95 10% 20%,#8497e9 20% 30%,#84dae9 30% 40%, #d9d9d9 40% 50%,#fade92  50% 60%,#b89eff 60% 70%,#ffc1ff  70% 80%,#ffada7  80% 90%,#c9ddf8 90% 100%);
    border-radius: 50%;
    border: 2px solid #000000 ;
  }
  .tenstripe_t1{
    position: absolute;
    top: 125px;
    width: 253px;
    height: 2px;
    background-color: #000000;
    transform: rotate(54deg);
  }
  .tenstripe_t2{
    position: absolute;
    top: 125px;
    width: 252px;
    height: 2px;
    background-color: #000000;
    transform: rotate(90deg);
  }
  .tenstripe_t3{
    position: absolute;
    top: 125px;
    width: 252px;
    height: 2px;
    background-color: #000000;
    transform: rotate(125deg);
  }
  .tenstripe_t4{
    position: absolute;
    top: 125px;
    width: 252px;
    height: 2px;
    background-color: #000000;
    transform: rotate(162deg);
  }
  .tenstripe_t5{
    position: absolute;
    top: 125px;
    width: 252px;
    height: 2px;
    background-color: #000000;
    transform: rotate(197deg);
  }
  .tenform_task1{
    position: absolute;
    top: 20px;
    left: 235px;
    transform: rotate(20deg);
  }
  .tenform_task2{
    position: absolute;
    top: 80px;
    left: 340px;
    transform: rotate(55deg);
  }
  .tenform_task3{
    position: absolute;
    top: 190px;
    left: 360px;
    transform: rotate(90deg);
  }
  .tenform_task4{
    position: absolute;
    top: 290px;
    left: 340px;
    transform: rotate(130deg);
  }
  .tenform_task5{
    position: absolute;
    top: 360px;
    left: 240px;
    transform: rotate(160deg);
  }
  .tenform_task6{
    position: absolute;
    top: 360px;
    left: 125px;
    transform: rotate(200deg);
  }
  .tenform_task7{
    position: absolute;
    top: 280px;
    left: 50px;
    transform: rotate(235deg);
  }
  .tenform_task8{
    position: absolute;
    top: 190px;
    left: 20px;
    transform: rotate(270deg);
  }
  .tenform_task9{
    position: absolute;
    top: 90px;
    left: 30px;
    transform: rotate(305deg);
  }
  .tenform_task10{
    position: absolute;
    top: 20px;
    left: 125px;
    transform: rotate(340deg);
  }
  .tenform_name1{
    position: absolute;
    top: 5px;
    left: 130px;
    transform: rotate(20deg);
    font-size: 12px;
  }
  .tenform_name2{
    position: absolute;
    top: 40px;
    left: 180px;
    transform: rotate(55deg);
    font-size: 12px;
  }
  .tenform_name3{
    position: absolute;
    top: 102px;
    left: 200px;
    transform: rotate(90deg);
    font-size: 12px;
  }
  .tenform_name4{
    position: absolute;
    top: 160px;
    left: 185px;
    transform: rotate(125deg);
    font-size: 12px;
  }
  .tenform_name5{
    position: absolute;
    top: 190px;
    left: 126px;
    transform: rotate(160deg);
    font-size: 12px;
  }
  .tenform_name6{
    position: absolute;
    top: 190px;
    left: 70px;
    transform: rotate(200deg);
    font-size: 12px;
  }
  .tenform_name7{
    position: absolute;
    top: 164px;
    left: 18px;
    transform: rotate(235deg);
    font-size: 12px;
  }
  .tenform_name8{
    position: absolute;
    top: 102px;
    transform: rotate(270deg);
    font-size: 12px;
  }
  .tenform_name9{
    position: absolute;
    top: 43px;
    left: 17px;
    transform: rotate(305deg);
    font-size: 12px;
  }
  .tenform_name10{
    position: absolute;
    left: 65px;
    transform: rotate(340deg);
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  .tenstripe_f1{
    position: absolute;
    top: 116px;
    width: 238px;
    height: 4px;
    background-color: #000000;
    transform: rotate(54deg);
  }
  .tenstripe_f2{
    position: absolute;
    top: 116px;
    width: 238px;
    height: 4px;
    background-color: #000000;
    transform: rotate(90deg);
  }
  .tenstripe_f3{
    position: absolute;
    top: 116px;
    width: 238px;
    height: 4px;
    background-color: #000000;
    transform: rotate(125deg);
  }
  .tenstripe_f4{
    position: absolute;
    top: 116px;
    width: 238px;
    height: 4px;
    background-color: #000000;
    transform: rotate(162deg);
  }
  .tenstripe_f5{
    position: absolute;
    top: 116px;
    width: 238px;
    height: 4px;
    background-color: #000000;
    transform: rotate(197deg);
  }
  .top_roulettes10{
    transform: rotate(0);
    height: 160px;
    width: 160px;
    background-image: conic-gradient(#b2f1ac 0% 10%, #fffd95 10% 20%,#8497e9 20% 30%,#84dae9 30% 40%, #d9d9d9 40% 50%,#fade92  50% 60%,#b89eff 60% 70%,#ffc1ff  70% 80%,#ffada7  80% 90%,#c9ddf8 90% 100%);
    border-radius: 50%;
    border: 2px solid #000000 ;
  }
  .tenstripe_t1{
    position: absolute;
    top: 78px;
    width: 158px;
    height: 2px;
    background-color: #000000;
    transform: rotate(54deg);
  }
  .tenstripe_t2{
    position: absolute;
    top: 78px;
    width: 158px;
    height: 2px;
    background-color: #000000;
    transform: rotate(90deg);
  }
  .tenstripe_t3{
    position: absolute;
    top: 78px;
    width: 158px;
    height: 2px;
    background-color: #000000;
    transform: rotate(125deg);
  }
  .tenstripe_t4{
    position: absolute;
    top: 78px;
    width: 158px;
    height: 2px;
    background-color: #000000;
    transform: rotate(162deg);
  }
  .tenstripe_t5{
    position: absolute;
    top: 78px;
    width: 158px;
    height: 2px;
    background-color: #000000;
    transform: rotate(197deg);
  }
  .tenform_task1{
    position: absolute;
    bottom: 200px;
    left: 130px;
    transform: rotate(20deg);
    font-size: 10px;
  }
  .tenform_task2{
    position: absolute;
    top: 40px;
    left: 185px;
    transform: rotate(55deg);
    font-size: 10px;
  }
  .tenform_task3{
    position: absolute;
    top: 95px;
    left: 198px;
    transform: rotate(90deg);
    font-size: 10px;
  }
  .tenform_task4{
    position: absolute;
    top: 155px;
    left: 180px;
    transform: rotate(130deg);
    font-size: 10px;
  }
  .tenform_task5{
    position: absolute;
    top: 200px;
    left: 125px;
    transform: rotate(160deg);
    font-size: 10px;
  }
  .tenform_task6{
    position: absolute;
    top: 200px;
    left: 68px;
    transform: rotate(200deg);
    font-size: 10px;
  }
  .tenform_task7{
    position: absolute;
    top: 160px;
    left: 17px;
    transform: rotate(235deg);
    font-size: 10px;
  }
  .tenform_task8{
    position: absolute;
    top: 105px;
    transform: rotate(270deg);
    font-size: 10px;
  }
  .tenform_task9{
    position: absolute;
    top: 50px;
    left: 15px;
    transform: rotate(305deg);
    font-size: 10px;
  }
  .tenform_task10{
    position: absolute;
    top: 6px;
    left: 65px;
    transform: rotate(340deg);
    font-size: 10px;
  }
  .tenform_name1{
    position: absolute;
    bottom: 125px;
    left: 80px;
    transform: rotate(20deg);
    font-size: 6px;
  }
  .tenform_name2{
    position: absolute;
    top: 26px;
    left: 113px;
    transform: rotate(55deg);
    font-size: 6px;
  }
  .tenform_name3{
    position: absolute;
    top: 60px;
    left: 120px;
    transform: rotate(90deg);
    font-size: 6px;
  }
  .tenform_name4{
    position: absolute;
    top: 103px;
    left: 106px;
    transform: rotate(125deg);
    font-size: 6px;
  }
  .tenform_name5{
    position: absolute;
    top: 133px;
    left: 79px;
    transform: rotate(160deg);
    font-size: 6px;
    overflow-wrap: normal;
  }
  .tenform_name6{
    position: absolute;
    top: 120px;
    left: 60px;
    transform: rotate(200deg);
    font-size: 6px;
  }
  .tenform_name7{
    position: absolute;
    top: 90px;
    right: 116px;
    transform: rotate(235deg);
    font-size: 6px;
  }
  .tenform_name8{
    position: absolute;
    bottom: 60px;
    right: 140px;
    transform: rotate(270deg);
    font-size: 6px;
  }
  .tenform_name9{
    position: absolute;
    top: 30px;
    left: 20px;
    transform: rotate(305deg);
    font-size: 6px;
  }
  .tenform_name10{
    position: absolute;
    left: 60px;
    transform: rotate(340deg);
    font-size: 6px;
  }
}
