@media screen and (min-width: 1366px) {
  .roulettewrapper10{
    position: relative;
    top: 46px;
    left: 376px;
  }
  .foundation_roulette10 {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 445px;
    height: 445px;
    background-color: #ffe7e7;
    border-radius: 50%;
    border: 2px solid #000000 ;
  }
  .tenstripe1{
    position: absolute;
    top: 131px;
    left: 45px;
    width: 225px;
    height: 4px;
    background-color: #000000;
    transform: rotate(54deg);
  }
  .tenstripe2{
    position: absolute;
    top: 110px;
    left: 110px;
    width: 225px;
    height: 4px;
    background-color: #000000;
    transform: rotate(90deg);
  }
  .tenstripe3{
    position: absolute;
    top: 130px;
    left: 175px;
    width: 224px;
    height: 4px;
    background-color: #000000;
    transform: rotate(125deg);
  }
  .tenstripe4{
    position: absolute;
    top: 185px;
    left: 215px;
    width: 225px;
    height: 4px;
    background-color: #000000;
    transform: rotate(162deg);
  }
  .tenstripe5{
    position: absolute;
    top: 252px;
    left: 216px;
    width: 225px;
    height: 4px;
    background-color: #000000;
    transform: rotate(197deg);
  }
  .tenstripe6{
    position: absolute;
    top: 310px;
    left: 180px;
    width: 223px;
    height: 4px;
    background-color: #000000;
    transform: rotate(233deg);
  }
  .tenstripe7{
    position: absolute;
    top: 332px;
    left: 110px;
    width: 225px;
    height: 4px;
    background-color: #000000;
    transform: rotate(270deg);
  }
  .tenstripe8{
    position: absolute;
    top: 310px;
    left: 46px;
    width: 228px;
    height: 4px;
    background-color: #000000;
    transform: rotate(305deg);
  }
  .tenstripe9{
    position: absolute;
    top: 254px;
    left: 5px;
    width: 228px;
    height: 4px;
    background-color: #000000;
    transform: rotate(342deg);
  }
  .tenstripe10{
    position: absolute;
    top: 188px;
    left: 3px;
    width: 225px;
    height: 4px;
    background-color: #000000;
    transform: rotate(17deg);
  }
  .roulettewrapper_top10{
    position: absolute;
    top: 10px;
    left: 43px;
  }
}
