@media screen and (min-width: 1366px) {
  .roulettewrapper10{
    position: relative;
    top: 46px;
    left: 376px;
  }
  .foundation_roulette10 {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 445px;
    height: 445px;
    background-color: #ffe7e7;
    background-image: conic-gradient(#d5525f 0% 10%, #d9d9d9 10% 20%,#d552ce 20% 30%,#a88488 30% 40%,#527bd5 40% 50%,#9e7e9c 50% 60%,#52d5a3 60% 70%,#6f80a3 70% 80%,#6fa396  80% 90%,#73a36f 90% 100%);
    border-radius: 50%;
    border: 2px solid #000000 ;
  }
  .tenstripe1{
    position: absolute;
    top: 222px;
    width: 446px;
    height: 4px;
    background-color: #000000;
    transform: rotate(54deg);
  }
  .tenstripe2{
    position: absolute;
    top: 222px;
    width: 446px;
    height: 4px;
    background-color: #000000;
    transform: rotate(90deg);
  }
  .tenstripe3{
    position: absolute;
    top: 222px;
    width: 446px;
    height: 4px;
    background-color: #000000;
    transform: rotate(125deg);
  }
  .tenstripe4{
    position: absolute;
    top: 222px;
    width: 446px;
    height: 4px;
    background-color: #000000;
    transform: rotate(162deg);
  }
  .tenstripe5{
    position: absolute;
    top: 222px;
    width: 446px;
    height: 4px;
    background-color: #000000;
    transform: rotate(197deg);
  }
  .roulettewrapper_top10{
    position: absolute;
    top: 10px;
    left: 43px;
  }
}
