.roulettebutton{
  position: absolute;
  top: 200px;
}
.tow_buttons{
  display: inline;
  display: flex;
  justify-content: left;
  margin-left: 60px;
}
.myButton{
  box-shadow:inset 0px 1px 0px 0px #f7d7bb;
	background:linear-gradient(to bottom, #ffb179 5%, #e57a37 100%);
	background-color:#ffaa79;
	border-radius:6px;
	border:1px solid #f3ba84;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
  margin-top: 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #d98e43;
  margin-bottom: 20px;
  margin-left: 20px;
	&:hover {
	background:linear-gradient(to bottom, #e58e37 5%, #ffb879 100%);
	background-color:#e58b37;
}
}
