@media screen and (min-width: 1366px) {
  .roulettewrapper{
    position: relative;
    top: 46px;
    left: 376px;
  }
  .foundation_roulette{
    position: absolute;
    top: 20px;
    left: 10px;
    width: 445px;
    height: 445px;
    background-color: #ffe7e7;
    border-radius: 50%;
    border: 2px solid #000000 ;
  }
  .fivestripe1{
    position: absolute;
    top: 185px;
    left: 4px;
    width: 225px;
    height: 4px;
    background-color: #000000;
    transform: rotate(18deg);
  }
  .fivestripe2{
    position: absolute;
    top: 110px;
    left: 109px;
    width: 225px;
    height: 4px;
    background-color: #000000;
    transform: rotate(90deg);
  }
  .fivestripe3{
    position: absolute;
    top: 185px;
    left: 210px;
    width: 228px;
    height: 4px;
    background-color: #000000;
    transform: rotate(162deg);
  }
  .fivestripe4{
    position: absolute;
    top: 310px;
    left: 175px;
    width: 225px;
    height: 4px;
    background-color: #000000;
    transform: rotate(234deg);
  }
  .fivestripe5{
    position: absolute;
    top: 310px;
    left: 43px;
    width: 225px;
    height: 4px;
    background-color: #000000;
    transform: rotate(306deg);
  }
  .roulettewrapper_top{
    position: absolute;
    top: 237px;
    left: 488px;
  }
  .top_roulettes5{
    transform: rotate(0);
    height: 255px;
    width: 255px;
    background-image: conic-gradient(#d5525f 0% 20%,#d5b652 20% 40%,#5f52d5 40% 60%,#52c1d5 60% 80%, #d9d9d9 80% 100%);
    border-radius: 50%;
    border: 2px solid #000000 ;
  }
  .fivestripe6{
    position: absolute;
    top: 106px;
    left: 0px;
    width: 130px;
    height: 4px;
    background-color: #000000;
    transform: rotate(18deg);
  }
  .fivestripe7{
    position: absolute;
    top: 62px;
    left: 63px;
    width: 130px;
    height: 4px;
    background-color: #000000;
    transform: rotate(90deg);
  }
  .fivestripe8{
    position: absolute;
    top: 106px;
    left: 124px;
    width: 130px;
    height: 4px;
    background-color: #000000;
    transform: rotate(162deg);
  }
  .fivestripe9{
    position: absolute;
    top: 179px;
    left: 101px;
    width: 130px;
    height: 4px;
    background-color: #000000;
    transform: rotate(234deg);
  }
  .fivestripe10{
    position: absolute;
    top: 179px;
    left: 24px;
    width: 130px;
    height: 4px;
    background-color: #000000;
    transform: rotate(306deg);
  }
  .form1{
    position: absolute;
    top: 80px;
    left: 100px;
    transform: rotate(45deg)
  }
  .form2{
    position: absolute;
    top: 80px;
    left: 100px;
    transform: rotate(135deg)
  }
  .form3{
    position: absolute;
    top: 90px;
    left: 60px;
    transform: rotate(225deg)
  }
  .form4{
    position: absolute;
    top: 70px;
    left: 60px;
    transform: rotate(315deg)
  }
  .form5{
    position: absolute;
    top: 15px;
    left: 30px;
    transform: rotate(45deg);
  }
  .form6{
    position: absolute;
    top: 40px;
    left: 30px;
    transform: rotate(135deg);
  }
  .form7{
    position: absolute;
    top: 20px;
    left: 30px;
    transform: rotate(225deg);
  }
  .form8{
    position: absolute;
    top: 30px;
    left: 30px;
    transform: rotate(315deg);
  }
}
