.text{
  text-align: center;
}
.flex{
  display: flex;
}
.links{
  min-width: 450px;
}
.statuses{
  margin: 0.5rem;
  padding: 1rem;
  font-size: 0.875rem;
  font-weight: 700;
}
.task_name{
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #ffffff;
}
#status__name1{
  background-color: #ffc4e1;
}
#status__name2{
  background-color: #add6f7;
}
#status__name3{
  background-color: #adf7cc;
}
