.name{
  text-align: center;
}
.flex{
  display: flex;
}
.links{
  min-width: 450px;
}
.statuses{
  background-color: #edf2f7;
  margin: 0.5rem;
  padding: 1rem;
  font-size: 0.875rem;
  font-weight: 700;
}
.task_name{
  margin: 0.5rem;
  padding: 0.01rem;
  background-color: #ffffff;
}
