@media screen and (min-width: 1366px) {
.text{
  display: inline-block;
}
.showbutton{
  height: 50px;
  overflow: hidden;
}
.flex{
  display: flex;
}
.links{
  min-width: 450px;
}
.statuses{
  margin: 0.5rem;
  padding: 1rem;
  font-size: 0.875rem;
  font-weight: 700;
}
}
.task_name{
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #ffffff;
}
#status__name1{
  background-color: #ffc4e1;
}
#status__name2{
  background-color: #add6f7;
}
#status__name3{
  background-color: #adf7cc;
}
.line-it-button{
  display: inline-block;
  margin-left: 100px;
  transform: scale(1.5, 1.5);
}
#btn_line{
  display: inline-block;
  margin-left: 100px;
  margin-top: 0px;
}
@media (max-width: 1395px) {
  .text{
    text-align: center;
  }
  .flex{
    display: block;
  }
  .links{
    max-width: 450px;
  }
  .line-it-button{
    margin-left: 150px;
    margin-bottom: 10px;
    justify-content: center;
  }
  .statuses{
    margin: 0.5rem;
    padding: 1rem;
    font-size: 0.875rem;
    font-weight: 700;
  }
}
