.field{
  text-align: center;
  margin : 30px;
}

.actions{
  text-align: center;
}
.links{
  padding-bottom:10px;
  text-align: center;
}
.loginactions{
  text-align: center;
  margin : 10px ;
}
.form{
  border: 3.5px solid #5d83e9;
  background-color: #d6ebfc;
  border-radius: 0.25em;
  width: 400px;
}
.login_maillabel{
  text-align: left;
}
.myButton {
  box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color:#79bbff;
  border-radius:6px;
  border:1px solid #84bbf3;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  margin-top: 20px;
  text-decoration:none;
  text-shadow:0px 1px 0px #438ed9;
  &:hover {
  background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color:#378de5;
  }
}
h2{
  text-align: center;
}
.linelink{
  background: #06C755;
  color: #ffffff;
  width: 250px;
  margin-right: auto;
  margin-left : auto;
  border-radius: 10px 10px 10px 10px;
}
.linesize{
  width: 50px;
  height: 50px;
  float: left;
  position: relative;
  left: 2px;
  top: 4px;
}
.black{
  color: #000000;
}
@media (max-width: 1395px) {
  .links{
    max-width: 400px;
    padding-right: 20px;
  }
  .form{
    max-width: 200px;
  }
  .wrapper {
    overflow: hidden;
  }
}
